<div class="background">
  <div class="container form-input">
    <div class="jumbotron center">
      <form role="form" data-toggle="validator" action="meetup_events/search">
          <div class="form-inline search-form">
            <div>
              <img src="../images/logo.png" class="banner">
            </div>
            <div class="heroimage">
              <img src="../images/yoga.jpg" alt="..." class="img-thumbnail">
            </div>
            <div class="form-group search-box">
              <input type="text" name="zipcode" class="form-control input-box" placeholder="Enter Zipcode" required>
            </div>
            <div class="form-group search-box">
              <input type="text" name="keyword" class="form-control input-box" placeholder="Enter Keyword Ex: Yoga" value="<%= @keyword %>">
            </div>
            <div class="form-group search-box">
              <%= select_tag "radius", options_for_select(Radius::RADIUS, @radius), {class: "form-control"} %>
            </div>
            <div class="form-group search-box">
              <%= select_tag "period", options_for_select(Period::PERIOD, @period), {class: "form-control"} %>
            </div>
            <div class="form-group search-box">
              <button type="submit" class="search-button btn btn-success">
                <i class="glyphicon glyphicon-search"></i>
                <span>Search</span>
              </button>
          </div>
        </div>
      </form>
      <p></p>
        <p class="text-center">Discover Fitness | Workout Together</p>
        <p class="text-center"><small>AktivPal makes it easy to search for fitness & workout groups in your city.</small></p>

</div>
</div>
</div>

<script src="https://cdnjs.com/libraries/1000hz-bootstrap-validator"></script>
<script>
        $("div.grid-item").click(function() {
            window.location=$(this).find("a").attr("href"); return false;
        });

//        var radius = 50;
//
//        function changeRadius(x){
//            radius = x.value;
//        }
</script>
