<div>

</div>
<h1>Categories</h1>
<table class="table table-striped">

    <% @categories.each do |category| %>
        <tr>
          <td><%= category['id'] %><td>
          <td><%= category['name'] %><td>
          <td><%= category['short_name'] %><td>
        </tr>
    <% end %>
</table>
<%= link_to "List Events for Fitness, Outdoors & Adventure, Sports & Recreation", meetup_events_list_path, class: "btn btn-info"  %>
