<div class="background">
  <div class="container form-input">
    <div class="jumbotron center">
      <div class="form-inline search-form">
        <div>
          <img src="../images/logo.png" class="banner">
        </div>
        <div class="form-group search-box">
          <input type="text" id="zipcode" class="form-control input-box" placeholder="Enter Zipcode">
        </div>
        <div class="form-group search-box">
          <%= select_tag "radius", options_for_select(Radius::RADIUS, @radius), {"onChange" => "changeRadius(this)", class: "form-control"} %>
        </div>
       <!--<div class="form-group search-box">-->
          <!--<input type="text" id="filter" class="form-control input-box" placeholder="Filter" value="<%= @keyword %>"> -->
        <!--</div>-->
        <div class="form-group search-box">
          <button type="button" class="search-button btn btn-success" onclick="search()">
            <i class="glyphicon glyphicon-search"></i>
            <span>Search</span>
          </button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
        $("div.grid-item").click(function() {
            window.location=$(this).find("a").attr("href"); return false;
        });

        var radius = 50;

        function changeRadius(x){
            radius = x.value;
        }

    function search() {
        var zipcode = document.getElementById("zipcode").value;
//        var keyword = document.getElementById("filter").value;
        var referrer = window.location.href.match(/^.*\//);
//        var redirect_url = referrer + 'meetup_events/search?zipcode=' + zipcode + '&radius=' + radius + '&keyword=' + keyword;
        var redirect_url = referrer + 'meetup_events/search?zipcode=' + zipcode + '&radius=' + radius;
        window.location = redirect_url;
    }
</script>
