// Place all the styles related to the meetup_events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background {
  //background-size: cover;
  //background-repeat: no-repeat;
  //height: 390px;
  //width: 100%;
  //background-image: url(/images/background.jpeg);
  //display: table;

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url(/images/background.jpeg);
  display: table;
  background-position: center;
  width: 100%;

  ::-webkit-input-placeholder { /* WebKit browsers */
    direction: rtl;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    direction: rtl;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
    direction: rtl;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    direction: rtl;
  }

  .search-form {
    width: 50%;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.grid-sizer,
.grid-item {
  width: 345px;
  margin-bottom: 10px;
}

.search-box {
  margin: 10px 20px 10px 20px;

  .radius-input {
    height: 35px;
  }
}

.nav-search-from {
  margin-bottom: 10px;
}

.content {
  margin-top: 30px;

  .event-header {
    text-align: center;
  }

  .event-container {
    margin: 10px;
  }

  .event-list-container {
    background-clip: padding-box;
    background-color: #f7f7f7;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 10px;
    padding: 15px;

    .created-time {
      text-align: right;
    }

    .event-listing {
      border-width: 0;
      padding: 0 16px 0;
      font-size: 16px;
      text-align: right;

      .detail-event-header {
        margin-bottom: 10px;
      }

      .event-time {
        font-size: 15px;
        color: inherit;
        float: left;
      }

      .event_photo {
        width: 100%;
        margin: 0 0 10px;
        /* height: 50%; */
      }

      .event-content {
        display: flex;
      }

      .detail-event-name {
        font-size: 35px;
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
      }

      .event-name {
        font-size: 17px;
        text-align: center;
        margin-top: 10px;
        /* font-weight: bold; */
      }

      .event-venue, .event-group {
        font-size: 20px;
        text-align: left;
        font-weight: bold;
      }

      .event-venue-label, .event-group-label {
        text-align: left;
        padding: 0;
        font-weight: bold;
      }

      .event-venue-content, .event-group-content {
        text-align: right;
        padding: 0;
      }

      .members {
        margin: 10px 0;
      }
    }
    &:hover {
      border-color: rgb(222, 222, 222);
      background-color: rgba(177, 173, 173, 0.2);
      cursor: pointer;
    }

    .doc-content, .doc-controls, .doc-padding {
      //border-bottom: 1px solid transparent;
      //padding: 16px 16px 0;
    }
  }

  .no-result {
    text-align: center;
    font-size: 40px;
    color: #999999;
    margin: 100px;
  }
}

/* Responsive: 1024 and up */
@media screen and (max-width: 1024px) {
  .grid-sizer,
  .grid-item {
    width: 325px;
    margin-bottom: 10px;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 32%;
    margin-bottom: 10px;
  }

  .search-box {
    margin: 10px 10px 10px 10px;

    .radius-input {
      height: 35px;
    }
  }

  .content {
    margin-top: 30px;

    .event-header {
      text-align: center;
    }

    .event-container {
      margin: 10px;
    }

    .event-list-container {
      background-clip: padding-box;
      background-color: #f7f7f7;
      border: 1px solid rgba(0,0,0,.12);
      border-radius: 10px;
      padding: 15px;

      .event-listing {
        border-width: 0;
        padding: 0 16px 0;
        font-size: 16px;
        text-align: right;

        .event-time {
          font-size: 15px;
          color: inherit;
          float: left;
        }

        .event-photo {
          width: 100%;
          margin: 0 0 10px;
          /* height: 50%; */
        }

        .event-content {
          display: flex;
        }

        .detail-event-name {
          font-size: 25px;
          text-align: center;
          margin-top: 10px;
          font-weight: bold;
        }

        .event-name {
          font-size: 16px;
          text-align: center;
          margin-top: 10px;
          /* font-weight: bold; */
        }

        .event-venue, .event-group {
          font-size: 20px;
          /* width: 9%; */
          //margin-left: 10%;
          text-align: left;
          font-weight: bold;
        }

        .event-venue-label, .event-group-label {
          text-align: left;
          padding: 0;
          font-weight: bold;
        }

        .event-venue-content, .event-group-content {
          text-align: right;
          padding: 0;
        }

        .members {
          margin: 10px 0;
        }
      }
      &:hover {
        border-color: rgb(222, 222, 222);
        background-color: rgba(177, 173, 173, 0.2);
      }

      .doc-content, .doc-controls, .doc-padding {
        //border-bottom: 1px solid transparent;
        padding: 16px 16px 0;
      }
    }

    .no-result {
      text-align: center;
      font-size: 40px;
      color: #999999;
      margin: 100px;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 425px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-button {
    width: 100%;
  }

  .content {
    margin-top: 30px;

    .event-header {
      text-align: center;
    }

    .event-container {
      margin: 10px;
    }

    .event-list-container {
      background-clip: padding-box;
      background-color: #f7f7f7;
      border: 1px solid rgba(0,0,0,.12);
      border-radius: 10px;
      padding: 15px;

      .event-listing {
        border-width: 0;
        padding: 0 16px 0;
        font-size: 16px;
        text-align: right;

        .event-time {
          font-size: 15px;
          color: inherit;
          float: left;
          width: 100%;
          text-align: center;
        }

        .join-button {
          width: 100%;
          margin: 20px 0;
        }

        .event-photo {
          width: 100%;
          margin: 0 0 10px;
          /* height: 50%; */
        }

        .event-content {
          display: block;
        }

        .detail-event-name {
          font-size: 25px;
          text-align: center;
          margin-top: 10px;
          font-weight: bold;
        }

        .event-name {
          font-size: 16px;
          text-align: center;
          margin-top: 10px;
          /* font-weight: bold; */
        }

        .event-venue, .event-group {
          font-size: 20px;
          text-align: left;
          font-weight: bold;
        }

        .event-venue-label, .event-group-label {
          text-align: left;
          padding: 0;
          font-weight: bold;
        }

        .event-venue-content, .event-group-content {
          text-align: right;
          padding: 0;
        }

        .members {
          margin: 10px 0;
        }
      }
      &:hover {
        border-color: rgb(222, 222, 222);
        background-color: rgba(177, 173, 173, 0.2);
      }

      .doc-content, .doc-controls, .doc-padding {
        //border-bottom: 1px solid transparent;
        padding: 16px 0;
      }
    }

    .no-result {
      text-align: center;
      font-size: 40px;
      color: #999999;
      margin: 100px;
    }
  }
}